.center{
    text-align:center;
    font-weight: bold;
}
hr {
    border: 2px solid black !important;
    height: 10px !important;
    width: 500px !important;
    background: blue !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
  }