<ion-header>
  <ion-toolbar>
    <ion-title>
      GrowspaceApp 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
    <ion-grid>
      <ion-row>
        <ion-col size="12">
            <ion-img src="./assets/growspace.jpg" height="20" width="10"></ion-img>
        </ion-col>
      </ion-row><br><br>
      
      <ion-row>
          <ion-col size="12">
              <div class="center">Welcome to Growspace</div>
              <div class="center">Where Business Grows</div>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
            <ion-col size="12">
                <ion-button shape="round" expand="block" href="/signin" >Sign in</ion-button>
            </ion-col>
          </ion-row> -->
    </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <!--  href="/welcome"-->
      <ion-button shape="round" expand="block" (click)="goNext()"  >Sign in</ion-button>
  </ion-toolbar>
</ion-footer>
